streamlit==1.29.0
chromadb==0.4.19
PyPDF2==3.0.1
langchain==0.0.350
langchain-community==0.0.2
langchain-core==0.1.0
langchain-experimental==0.0.47
langchain-google-genai==0.0.5
langchainhub==0.1.14
sentence-transformers==2.2.2
transformers==4.36.2
